/*-----------------------------------------------------------------------------------
  Global Reset v0.2 (based on http://meyerweb.com/eric/tools/css/reset/ - v1.0 | 20080212)
-----------------------------------------------------------------------------------*/
 	html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { background: transparent; border: 0; font-size: 100%; margin: 0; outline: 0; padding: 0; }
 	img { vertical-align: middle; }
	body { background: url(../images/footer-pattern.png); color: #666; font-family: Helvetica, sans-serif; font-size: 12px; line-height: 1; }
	ul { list-style: none; }
	ol { margin-bottom: 10px; margin-left: 18px; }
	ol li { font-size: 12px; line-height: 18px; }
	p { font-size: 12px; line-height: 16px; margin: 0 0 10px 0; }
	p:last-child { margin: 0; }
	p small { font-size: 10px; }
 	:focus { outline: 0; }
 	:invalid { box-shadow: none; }
	table { border-collapse: collapse; border-spacing: 0; }
	a { color: #86ACC3; text-decoration: none; }
	header, footer, nav, summary, section, article { display: block; }
	.clear { clear: both; }
	body { overflow-y: scroll; }
	
	/* Hack To Stop WebKit From Styling input[type=search] */
	input[type=search] { -webkit-appearance: textfield; -webkit-box-sizing: content-box; }
	input::-webkit-search-decoration, input::-webkit-search-cancel-button { display: none; }

	h2 { float: left; font-size: 18px; font-weight: normal; height: 32px; line-height: 30px; padding: 5px 0 0 0; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75); }
	
	
	/* Installer Styles */
	body.install { background: url(../images/repeat-bg.png) repeat top center; }
	.install_fade { background: url(../images/login-bg.png) repeat-x top center fixed; }
	.install_wrapper { margin: 0 auto; padding: 75px 0 50px; width: 650px; }
	.install_wrapper hr { border: 1px solid #fff; border-top-color: #eee; margin: 20px 0; }
	.install_wrapper h1 { color: #FFF; font-size: 30px; font-weight: normal; margin: 0 0 25px 0; text-align: center; text-shadow: 0 1px 0 #000; }
	.install_wrapper form { background: #FFF; border: 1px solid #CCCCCC; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 1); overflow: hidden; padding: 30px 0 0; }
	.install_wrapper h2 { color: #444; font-size: 20px; font-weight: normal; line-height: 30px; overflow: hidden; margin: 0 30px 5px; padding: 0; text-shadow: 0 1px 0 #FFF; }
	.install_wrapper h2 span { background: url(../images/icons-install.png) no-repeat; display: block; float: left; height: 25px; margin: 0 5px 0 0; width: 25px; }
	.install_wrapper h2.database span { background-position: -25px 2px; width: 20px; }
	.install_wrapper h2.security span { background-position: -45px 4px; margin-right: 7px; width: 23px; }
	.install_wrapper h2.account span { background-position: -68px 1px; margin-right: 7px; width: 23px; }
	.install_wrapper h2.example span { background-position: -91px 3px; margin-right: 7px; width: 23px; }
	.install_wrapper fieldset { padding: 0 30px; }
	.install_wrapper fieldset.left { float: left; padding: 0 0 0 30px; }
	.install_wrapper fieldset.right { float: right; padding: 0 30px 0 0; }
	.install_wrapper label { color: #666; display: block; font-size: 13px; margin: 0 0 12px 0; }
	.install_wrapper input.text { border: 1px solid #CCC; border-radius: 3px; color: #666; display: block; height: 32px; margin: 0 0 20px 0; padding: 0 10px; width: 260px; }
	.install_wrapper input.text:last-child { margin: 0; }
	.install_wrapper p { clear: both; color: #666; font-size: 13px; margin: 0; }
	.install_wrapper fieldset.lower { background: #F5F5F5; border-top: 1px solid #E5E5E5; margin: 30px 0 0; padding: 25px 30px; }
	.install_wrapper .forgot_password { color: #666; float: right; line-height: 36px; }
	.install_wrapper .forgot_password:hover { color: #3E667D; }
	.install_wrapper .error_message { background: #990000; border-radius: 2px; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); color: #FFF; font-size: 12px; line-height: 18px; margin: 0 30px 10px 30px; padding: 5px 10px; text-shadow: 0px -1px 0 rgba(0,0,0,0.25); }
	.install_wrapper .warning_message { background: #D58410; border-radius: 2px; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); color: #FFF; font-size: 12px; line-height: 18px; margin: 0 30px 10px 30px; padding: 5px 10px; text-shadow: 0px -1px 0 rgba(0,0,0,0.25); }
	
	.install_logo { background: url(../images/login-logo.png); display: block; height: 30px; margin: 25px auto; width: 155px; }
	.install_copyright { background: url(../images/login-copyright.png); display: block; height: 15px; margin: 50px auto; opacity: 0.5; width: 222px; }
	
	label.for_checkbox { cursor: pointer; line-height: 17px; margin: 0; user-select: none; }
	.checkbox { float: left; margin: 0 7px 0 0; }
	.checkbox a { background: url(../images/checkbox-sprite.png); cursor: pointer; display: block; height: 16px; width: 16px; }
	.checkbox a.checked { background-position: 0px 16px; }
	.checkbox a.focused { background-position: -16px 0px; }
	.checkbox a.checked.focused { background-position: -16px 16px; }
	
	.form_error label { color: #990000; }
	.form_error input[type=text], .form_error input[type=password], .form_error input[type=email], .form_error input[type=url] { background: #FCE8E8; border-color: #990000; }
	
	input[type=submit], a.button { background: #BBB url(../images/button-bg.png) repeat-x; border: 1px solid #CCCCCC; border-radius: 5px; color: #333; cursor: pointer; font-family: Helvetica, sans-serif; font-size: 14px; height: 36px; line-height: 14px; padding: 10px 18px 12px 18px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75); transition: background-color 0.2s, border-color 0.2s; }
	input[type=submit].blue, a.button.blue { background: #3E667D url(../images/button-bg-dark.png) repeat-x; border: 1px solid #243D4C; color: #FFF; text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.5); }
	input[type=submit].blue:hover, a.button.blue:hover { background-color: #4f829f; }
	
/*
	.container { margin: 0 auto; position: relative; width: 960px; }
	
	.button { display: block; text-indent: -99999px; 
		-moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;
	}
	.button.submit { background: url(../images/install/btn_submit.png) no-repeat 0 0; display: block; height: 35px; width: 127px; }
	.button:hover { background-position: 0 -35px; -moz-box-shadow: 0 0 3px #999; -webkit-box-shadow: 0 0 3px #999; }
	.button:active { -moz-transform: translateY(1px); -webkit-transform: translateY(1px); -moz-box-shadow: none; -webkit-box-shadow: none; }
	
	
	#logo { display: block; height: 51px; position: absolute; top: 35px; width: 164px; background: url(../images/install/logo.png); }
	header { background: url(../images/install/bg_header.png) repeat-x center top; height: 134px; }	
	
	footer { background: url(../images/install/bg_footer.png) repeat-x center top; overflow: hidden; padding: 40px 0; }
	footer .block { border-right: 1px solid #28353C; border-left: 1px solid #111; float: left; height: 90px; margin: 0; padding: 12px 20px 10px; width: 205px; }
	footer .block.first { border-left: none; padding-left: 0; }
	footer .block.last { border-right: none; padding-right: 0; }
	
	footer { color: #69BAB1; margin-top: 100px; }
	footer h6 { color: #fff; font-size: 12px; font-weight: normal; margin: 0 0 15px; }
	footer a.logo { background: url(../images/install/logo_footer.sprite.png) no-repeat; display: block; float: left; margin: 0; text-indent: -99999px; }
	footer a.logo.fastspot { background-position: 0 0; height: 54px; margin: 0 10px 0 0; width: 63px; }
	footer a.logo.bigtree { background-position: -78px 0; height: 54px; margin: 0; width: 180px; }
	footer p.address { float: left; font-size: 11px; line-height: 16px; margin: 3px 0 0 0; width: 130px; }
	
	footer .icon { background: url(../images/install/icon_footer.sprite.png) no-repeat left top; color: #69BAB1; clear: both; display: block; float: left; font-size: 11px; line-height: 15px; margin: 0 0 5px; padding: 0 0 0 20px; *width: 180px; }
	footer a.icon:hover { color: #fff; }
	footer .icon.phone { background-position: 0 3px; }
	footer .icon.email { background-position: 0 -15px; }
	footer .icon.demo { background-position: 1px -37px; }
	
	footer .icon.facebook { background-position: 0 -60px; }
	footer .icon.rss { background-position: 0 -78px; }
	footer .icon.twitter { background-position: 0 -100px; }
	
	#page { padding: 0; text-shadow: 0 1px 0 #fff; }	
	
	#page.sub { margin: 20px 0 30px; }
	.sub .intro { margin: 0 0 30px; }
	.sub .intro h4 { color: #333; font-size: 18px; margin: 30px 0 16px; text-transform: none; }
	.sub .intro hr { margin: 0 0 20px; }	
	
	.form .column { padding: 20px 40px 10px; margin: 60px 0 0; }
	.form .column.logo { background: url(../images/install/divider_vertical.png) repeat-y top right; float: left; height: 135px; width: 100px; }
	.form .column.logo a.logo { background: url(../images/install/logo_contact.png) no-repeat left top; display: block; height: 77px; margin: 25px 0; text-indent: -99999px; width: 94px; }
	.form .column.address { float: left; width: 190px; }
	.form .column.address h3 { color: #68B9B1; font-size: 18px; font-weight: normal; margin: 0 0 10px; }
	.form .column.address p { font-size: 12px; line-height: 17px; margin: 0 0 10px 0; }
	.form .map { margin: 0 50px 0 0; }
	p.required { font-size: 12px; line-height: 18px; margin: 10px 0 -10px; }
	
	
	.formbuilder {  }
	.formbuilder fieldset { display: block; margin: 0 0 15px 0; overflow: hidden; clear: both; }
	.formbuilder label { display: inline-block; font-size: 14px; margin: 0 0 8px 0; }
	.formbuilder label.required { background: url(../images/install/icon_required.png) no-repeat top right; padding-right: 13px; display: inline-block; }
	.formbuilder input { background: #F1F1F1; border: 1px solid #ccc; color: #666; display: block; font-size: 14px; padding: 8px; width: 552px; }
	.formbuilder input:focus { border-color: #8AC7C1; }
	.formbuilder textarea { background: #F1F1F1; border: 1px solid #ccc; color: #666; display: block; font-family: "Lucida Grande",sans-serif; font-size: 14px; height: 120px; margin: 0 0 5px 0; padding: 8px; width: 552px; }
	.formbuilder textarea:focus { border-color: #8AC7C1; }
	.formbuilder .fb_sublabel { color: #4C4449; font-size: 11px; font-style: italic; font-weight: normal; padding: 3px 3px 0 0; }
	.formbuilder .fb_centered { text-align: center; }
	.formbuilder input.fb_submit { border: none; cursor: pointer; font-size: 0.01em; text-indent: -99999px; }
	.formbuilder .section_break { float: left; margin: 0 50px 0 0; width: 270px; }
	.formbuilder .section_break p { color: #9D9D9D; font-size: 12px; line-height: 16px; }
	.formbuilder h3 { color: #69BAB1; font-size: 21px; font-weight: normal; margin: 15px 0 8px 0; text-transform: none; }
	.formbuilder .warnings h3 { color: #B38989; }
	.formbuilder ul.warnings li { list-style: disc; font-size: 12px; line-height: 16px; }
	.formbuilder .section_fields { float: right; margin: 15px 0 10px; width: 590px; }
	.formbuilder fieldset { width: 570px; }
	.formbuilder .fb_column { float: left; margin: 0 20px 0 0; width: 275px; }
	.formbuilder .fb_column fieldset { width: 275px; }
	.formbuilder .fb_column select { margin: 8px 0; width: 275px; }
	.formbuilder .fb_column input { width: 257px; }
	.formbuilder .fb_column input.checkbox { width: auto; margin: 0; }
	.formbuilder .fb_column textarea { width: 257px; }
	.formbuilder select { display: block; margin: 0 0 5px 0; }
	.formbuilder .error { background: #FDEEED; border-color: #B38989 !important; }
	.formbuilder p.error { border: 1px solid #B38989; font-size: 12px; margin: 0 0 20px 0; padding: 10px 15px 9px; width: 538px; }
*/